*, *:before, *:after {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100px;
}

/*VARIABLES*/
$color-principal: #C31821;
$color-gris-1: #EEEDFF;
$color-gris-2: #A5A7DD;
$color-gris-3: #737496;
$color-blanco: #FFFFFF;
$color-negro: #000000;

$font-light: 300;
$font-normal: 400;
$font-medium: 600;
$font-bold: 800;





body.container > header.header-cont {
    max-width: 100vw;
}

/*HEADER*/

header#header-cont {
    display: flex;
    width: 100%;
    flex-direction: column;
    span.envios-gratis {
        display: flex;
        flex: 5%;
        width: 100%;
        margin: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: $color-principal  ;
        color: #FFFFFF;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: $font-light;
        text-align: center;
    }
    nav.nav-tools {
        display: grid;
        flex: 20%;
        grid-template-areas: 
        "burger logo carrito";
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%; 
        justify-items: center;
        align-items: center;
    }
    @media (min-width: 992px) {
        nav.nav-tools {
            grid-template-areas: 
            "logo buscador carrito"
            "logo menu carrito";
            grid-template-columns: 2fr 9fr 1fr;
            grid-template-rows: auto;
            
        }
    }
    p.nav-tools-page__text {
        display: flex;
        flex: 10%;
        padding: 10px;
        margin-bottom: 0;
        background-color: $color-gris-1;
        color: $color-principal;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: $font-bold;
        justify-content: center;
        text-align: center;
    }
    img.nav-tools-page__banner{
        width: 100%;
        flex: 65%;
    }
}


/*NAVEGADOR*/
nav.nav-tools {
    div.dropdown {
        display: flex;
        grid-area: burger;
        img.hamburger-button {
            width: 30px;
            height: 30px;
        }
    }
    
    @media (min-width: 992px){
        div.dropdown {
            display: none;
        }
    }
    div.nav-tools__logo {
        display: flex;
        grid-area: logo; 
        a.nav-tools__logo-link {
            display: flex;
            width: auto;
            img.nav-tools__logo-link-img {
                width: 150px;
            }
        }
    }
    div.nav-tools__barra-search {
        display: none;
        grid-area: buscador;
    }
    @media (min-width: 992px) {
        div.nav-tools__barra-search {
            width: 80%;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            border-radius: 30px;
            padding: 0.3em 3em;
            gap: 20px;
            background-color: $color-gris-1;
            input.search-input {
                width: 80%;
                height: 30px;
                border-radius:30px;
                padding: 0 10px;
                border: none;
            }
            button.search-button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                img {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
    div.nav-tools__list {
        display: none;
        @media (min-width: 992px) {
            ul.nav-tools__list-desktop {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin: 0;
                padding: 0;
                gap: 70px;
                @media (min-width: 992px) {
                    li {
                        text-align: center;
                        width: 80px;
                        a.nav-tools__list-desktop-link {
                            text-decoration: none;
                            font-family: 'Roboto', sans-serif;
                            font-weight: $font-light;
                            color: #000000;
                            &:nth-of-type(1) {
                                &:hover {
                                    color: $color-principal;
                                    font-weight: $font-medium;
                                }
                            }
                            &:nth-of-type(2) {
                                &:hover {
                                    color: $color-principal;
                                    font-weight: $font-medium;
                                }
                            }
                            &:nth-of-type(3) {
                                &:hover {
                                    color: $color-principal;
                                    font-weight: $font-medium;
                                }
                            }
                            &:nth-of-type(4) {
                                &:hover {
                                    color: $color-principal;
                                    font-weight: $font-medium;
                                }
                            }
                        }
                    }
                }
            }

        }  
    }
    @media (min-width: 992px) {
        div.nav-tools__list {
            display: flex;
            flex-direction: row;
            grid-area: menu;
        }
    }
    .nav-tools__carrito-compras {
        display: flex;
        width: 30px;
        height: 30px;
        grid-area: carrito;
    }
}






/*MAIN*/

/*PRIMER SECCION


PAGINA DE BIENVENIDA - WELCOME PAGE
*/
main#main-container {
    background-color: $color-gris-1;
    section#section-welcome-page{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        
        div.section-welcome-page__mayorista {
            display: flex;
            font-size: 10px;
            width: 100%;
            height: auto;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            background: linear-gradient(to bottom, $color-principal, $color-gris-1);
            padding: 2em 1em;
            gap: 2em;
            div.section-welcome-page__mayorista-text {
                width: 100%;
                p {
                    font-family: 'Roboto', sans-serif;
                    font-weight: $font-normal;
                    font-size: 1.7rem;
                    margin: 0;
                    color: #fff;
                }
                @media (min-width: 992px) {
                    p {
                        font-size: 2rem;
                    }
                }
            }
            div.section-welcome-page__mayorista-button {
                width: 100%;
                a input.button {
                    width: 200px;
                    height: 50px;
                    font-size: 0.9rem;
                    font-weight: $font-medium;
                    border-radius: 25px;
                    background-color: #DC1821;
                    border: 0;
                    color: $color-blanco;
                    outline: none;
                    box-shadow: 0 0 20px rgba(195, 24, 33, 0.4);
                    &:hover {
                        background-color: $color-blanco;
                        color: $color-principal;
                        font-weight: $font-bold;
                        border: 5px solid $color-principal;
                    }
                }
            }
        } 
        @media (min-width: 992px) {
            div.section-welcome-page__mayorista {
                flex-direction: row;
                background: linear-gradient(to right, $color-principal, $color-gris-1);
                div.section-welcome-page__mayorista-text {
                    width: 50%;
                }
                div.section-welcome-page__mayorista-button {
                    width: 50%;
                }
            }
        }  
    }
}


/*SEGUNDA SECCION


CATEGORIAS*/
section#section-category {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 25px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, $color-gris-1, $color-gris-2, $color-gris-1);
    h2.section-category-title {
        font-size: 2rem;
        font-weight: $font-bold;
        text-decoration: underline;
        margin: 40px;
    }
    @media (min-width: 992px) {
        h2.section-category-title {
            font-size: 3rem;
        }
    }
    h3.container-articulos__title {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        color: $color-negro;
        font-weight: $font-medium;
        margin: 0 20px; 
        @media (min-width:992px) {
            &{
                align-self: flex-start;
                margin-left: 20px;
            }
        }
    }
    div.container-articulos {
        display: flex;
        flex-direction: column;
        width: 17.5rem;
        justify-content: center;
        align-items: center;
        gap: 80px;
        border-radius: 20px;
        div.container-articulos__imagen-y-titulo {
            display: flex;
            flex-direction: column;
            width: 17.5rem;
            height: 400px;
            align-items: center;
            justify-content: space-around;
            border-radius: 20px;
            background-color: $color-blanco;
            img.imagen {
                width:  248px;
                height: 250px;
                padding-top: 40px;
            }
            h2.nombre-producto__parrafo {
                font-family: 'Roboto', sans-serif;
                font-size: 1.5rem;
                font-weight: $font-medium;
                text-align: center;
            }
        }
    }
    @media (min-width: 992px) {
        div.container-articulos {
            flex-direction: row; 
            width: 100%;
            gap: unset;
            justify-content: space-around;
        }
    }
}





/*TERCER SECCION


INFORMACION
*/
section#tercer-section {
    
    div.cont-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        gap: 10px;
        width: auto;
        div.info-extra {
            display: flex;
            width: 12.5rem;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            border-radius: 20px;
            text-align: center;
            font-size: 900;
        }
    }
    @media (min-width: 992px) {
        div.cont-info {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}












/*PAGINA CONTACTO*/


main#container-principal-contact {
    display: grid;
    grid-template-areas:
    "titulo"
    "horarios"
    "mapa"
    "formulario";
    font-family: 'Roboto', sans-serif;
    section#title-section-contact {
        grid-area: titulo;
        width: auto;
        h1.contact-title-h1 {
            margin: 40px auto;
            text-align: center;
            font-size: 2.5rem;
            font-weight: $font-medium;
            color: $color-principal;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        @media (min-width: 992px) {
            h1.contact-title-h1 {
                font-size: 3.5rem;
            }
        }
    }
    section#time-section {
        grid-area: horarios;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        align-self: center;
        div.horarios-de-atencion {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            $font-size-h2: 1.4rem;
            $font-size-h4: 1.4rem;
            $font-size-p: 1.3rem;
            h2.horarios-de-atencion__title {
                justify-self: center;
                font-size: $font-size-h2;
                font-weight: $font-medium;
                margin-bottom: 20px;
            }
            h4.horarios-de-atencion__txt {
                margin-bottom: 10px;
                font-size: $font-size-h4;
            }
            p.horarios-de-atencion__text {
                margin-bottom: 25px;
                font-size: $font-size-p;
            }
            @media (min-width: 992px) {
                h2.horarios-de-atencion__title {
                    font-size: $font-size-h2 + 0.5rem;
                }
                h4.horarios-de-atencion__txt {
                    font-size: $font-size-h4 + 0.5rem;
                }
                p.horarios-de-atencion__text {
                    font-size: $font-size-p + 0.5rem;
                }
            }
        }
    }
    section#location {
        grid-area: mapa;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h2.location__title {
            margin-top: 20px;
            margin-bottom: 30px;
            text-align: center;
            font-size: 1.4rem;
            font-weight: $font-medium;
        }
        @media (min-width: 992px){
            h2.location__title {
                font-size: 1.9rem
            }
        }
        iframe.location__map {
            width: 100%;
            height: 300px;
        }
    }
    section#section-cont-form {
        font-family: 'Roboto', sans-serif;
        grid-area: formulario;
        width: 100%;
        height: fit-content;
        margin: 50px auto;
        text-align: center;
        form.contact-form {
            padding: 25px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2.contact-form-title {
                color: $color-principal;
                font-size: 1.7rem;
                font-weight: $font-medium;
                margin-bottom: 20px;
            }
            div.contact-form__input-group {
                display: flex;
                flex-direction: column;
                text-align: left;
                label.label {
                    color: #2F4858;
                    font-size: 1rem;
                    font-weight: calc($font-bold - 100);
                    margin-bottom: 12px;
                }
                input.text {
                    padding: 12px 24px;
                    border-radius: 25px;
                    margin-bottom: 20px;
                    background-color: $color-gris-1;
                    border: 2px solid #f0faf1;
                    color: #2F4858;
                    outline: none;
                    width: 100%;
                }
                textarea.msj {
                    padding-left: 10px;
                    padding-top: 10px;
                    border-radius: 25px;
                    margin-bottom: 20px;
                    background-color: $color-gris-1;
                    border: 2px solid #f0faf1;
                    color: #2F4858;
                    outline: none;
                }
                div.cont-form__legales {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    text-align: center;
                    width: 100%;
                    a.link {
                        color: #E8423B;
                        font-size: 13.5px;
                        font-weight: $font-bold;
                        text-decoration: none;
                        line-height: 2;
                    }
                }
                @media (min-width: 992px) {
                    div.cont-form__legales {
                        gap: 15px;
                    }
                }
                input.cont-form__btn {
                    margin-top: 16px;
                    padding: 12px 24px;
                    border-radius: 25px;
                    margin-bottom: 20px;
                    background-color: #DC1821;
                    border: 0;
                    color: $color-blanco;
                    outline: none;
                    box-shadow: 0 0 20px rgba(195, 24, 33, 0.4);
                    &:hover {
                    background-color: $color-principal;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    main#container-principal-contact {
        grid-template-areas:
            "titulo titulo"
            "horarios formulario"
            "mapa formulario";
        justify-content: center;
        align-items: center;
        width: max-content;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
        column-gap: 200px;
    }
}








/*PAGINA PRODUCTOS*/





/*SECCION LINKS A MARCAS*/

section#title-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: titulo;
    h1.contact-title {
        margin: 40px 0px;
        text-align: center;
        font-size: 40px;
        font-weight: $font-medium;
        color: $color-principal;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    @media (min-width: 992px) {
        h1.contact-title {
            font-size: 3.5rem;
        }
    }
}

section#section-links-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $color-gris-1;
    gap: 20px;
    
    div.container-link {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 8rem;
        border: 0;
        &:nth-of-type(1) {
            background: linear-gradient(to right, $color-blanco,rgba(195, 24, 33, 0.7));
            margin-top: 20px;
            &:hover {
                transform: scale(1.01);
            }
            &:active {
                transform: scale(0.98);
            }
        }
        &:nth-of-type(2) {
            background: linear-gradient(to right, rgba(40, 170, 30, 0.7), $color-blanco);
            &:hover {
                transform: scale(1.01);
            }
            &:active {
                transform: scale(0.98);
            }
            & a.container-link-a {
                flex-direction: row-reverse;
            }
        }
        &:nth-of-type(3) {
            background: linear-gradient(to right, $color-blanco, rgba(30, 50, 170, 0.7));
            &:hover {
                transform: scale(1.01);
            }
            &:active {
                transform: scale(0.98);
            }
        }
        a.container-link-a{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            text-decoration: none;
            img.container-link__icon {
                width: 60px;
            }
            h2.container-link__title {
                text-align: center;
                color: $color-blanco;
                text-shadow: 2px 2px 5px $color-negro;
                box-sizing: border-box;
                font-size: 3rem;
                margin-bottom: 0;
                width: auto;
            }
        }
    }
}




/*PAGINA ACERCA DE*/






/*SECCION QUIENES SOMOS*/




section#section-quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-gris-1;
    gap: 30px;
    h1.quienes-somos-title {
        width: 90%;
        margin-top: 2rem;
        margin-left: 2rem;
        color: $color-principal;
        font-size: 3rem;
        font-weight: $font-bold;
        font-family: 'Roboto', sans-serif;
    }
    img.quienes-somos-img {
        width: 90%;
    }
    div.container-nosotros {
        width: 90%;
        font-family: 'Roboto', sans-serif;
        h2.container-nosotros-h2 {
            font-size: 2.5rem;
            font-weight: $font-medium;
            margin-bottom: 2rem;
        }   
        p.container-nosotros-p {
            font-size: 1rem;
            margin-bottom: 2rem;
        }
        @media screen and (min-width:992px) {
            h2.container-nosotros-h2 {
                font-size: 3rem;
            }
            p.container-nosotros-p {
                font-size: 1.4rem;
            }
        }
    }
}
@media screen and (min-width:992px) {
    section#section-quienes-somos {
        display: grid;
        grid-template-areas: 
        "title title"
        "img text";
        gap: unset;
        row-gap: 2rem;
        margin-bottom: 2rem;
        h1.quienes-somos-title {
            grid-area: title;
        }
        img.quienes-somos-img {
            grid-area: img;
        }
        div.container-nosotros {
            grid-area: text;
        }
    }
}

section#section-sobre-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right bottom, #737496, #7c7da3, #8587b0, #8f90bd, #989acb, #989acb, #989acb, #989acb, #8f90bd, #8587b0, #7c7da3, #737496);
    gap: 2.3rem;
    padding-top: 2rem;
    div.container-about-us {
        width: 90%;
        color: $color-blanco;
        h2.container-about-us__title {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        p.container-about-us__p {
            font-size: 1.2rem;
        }
    }
}





/*SECCION FOOTER*/
footer#footer {
    div.container-footer {
        display: flex;
        flex-direction: column;
        background-color: #777395;
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        align-items: center;
        gap: 40px;
        div.container-footer__about-us {
            display: flex;
            flex-direction: column;
            font-size: 900;
            text-align: center;
            gap: 20px;
            margin-top: 30px;
        }
        div.container-footer__social-media {
            display: flex;
            flex-direction: row;
            gap: 50px;
            a {
                width: auto;
                img.logo {
                    width: 50px;
                }
            }
        }
        div.container-footer__contact {
            display: flex;
            flex-direction: column;
            gap: 3px;
            padding-left: 10px;
        }
    }
    @media (min-width: 992px) {
        div.container-footer {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}